<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.TimeLimit.Persistence.mybatisimpl.mappers.ElementoMapper">
    <resultMap type="Elemento" id="ElementoResult">
    	<id property="id" column="id"/>
		<result property="nombre" column="nombre"/>
    	<result property="marca" column="marca"/>
    	<result property="modelo" column="modelo"/>
		<result property="caracteristicas" column="caracteristicas"/>
    	<result property="idEquipo" column="idequipo"/>


    </resultMap>
    <select id="getElemento" resultMap="ElementoResult" parameterType="String">
        SELECT 
		l.id,
        l.nombre,
        l.marca,
		l.modelo,
		l.caracteristicas,
        l.idEquipo
        FROM "elementos" as l
	WHERE nombre = #{nombre}
    </select>

    <insert id="registrarElemento" parameterType="edu.eci.cvds.TimeLimit.model.Elemento">
        INSERT INTO "elementos"(id,nombre,marca,modelo,caracteristicas,idEquipo)
	VALUES((select count(*)+1 from "elementos"),#{nombre},#{marca},#{modelo},#{caracteristicas},#{idEquipo});
    </insert>
    	

</mapper>