<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.TimeLimit.Persistence.mybatisimpl.mappers.ElementoMapper">
    <resultMap type="Elemento" id="ElementoResult">
    	<id property="id" column="id"/>
		<result property="nombre" column="nombre"/>
    	<result property="marca" column="marca"/>
    	<result property="modelo" column="modelo"/>
		<result property="caracteristicas" column="caracteristicas"/>
    	<result property="idEquipo" column="idequipo"/>


    </resultMap>
    <select id="getElementos" resultMap="ElementoResult" parameterType="map">
        SELECT *
        FROM "elementos";
    </select>

    <update id="editElemento">
        update "elementos" set idequipo=#{idequipo} where id=#{id};
    </update>
    <update id="borrarElemento">
        update "elementos" set idequipo=0 where id=#{id};
    </update>
    <update id="addElemento">
        update "elementos" set idequipo=#{idequipo} where id=#{id};
    </update>

    <insert id="registrarElemento" parameterType="edu.eci.cvds.TimeLimit.model.Elemento">
        INSERT INTO "elementos"(id,nombre,marca,modelo,caracteristicas,idEquipo)
	VALUES((select count(*)+1 from "elementos"),#{nombre},#{marca},#{modelo},#{caracteristicas},#{idEquipo});
    </insert>
    
    <update id="eliminarElemento" parameterType="edu.eci.cvds.TimeLimit.model.Elemento">
    	update "elementos" SET modelo=#{modelo} WHERE id=#{id};
    </update>



    	

</mapper>