<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.TimeLimit.Persistence.mybatisimpl.mappers.EquipoMapper">
    <resultMap type="Equipo" id="EquipoResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="estado" column="estado"/>
        <result property="enUso" column="enUso"/>
		<result property="idLaboratorio" column="idLaboratorio"/>
       

    </resultMap>
    <select id="getEquipo" resultMap="EquipoResult" parameterType="String">
        SELECT 
		e.id,
		e.nombre,
        e.estado,
        e.enUso,
		e.idLaboratorio
        FROM "equipos" as e
        WHERE nombre = #{nombre}
    </select>

    <insert id="RegistrarEquipo" parameterType="map">
        INSERT INTO "equipos"
	VALUES((select count(*)+1 from "equipos"),#{nombre},#{estado},#{enUso},#{idLaboratorio}) ;
    </insert>
    	

</mapper>