<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.TimeLimit.Persistence.mybatisimpl.mappers.LaboratorioMapper">
    <resultMap type="Laboratorio" id="LaboratorioResult">
    	<id property="id" column="id"/>
		<result property="nombre" column="nombre"/>
    	<result property="horario" column="horario"/>
    	<result property="descripcion" column="descripcion"/>
	
    </resultMap>

    <select id="getLaboratorios" resultMap="LaboratorioResult" parameterType="map">
        SELECT * FROM "Laboratorio";
    </select>

    <insert id="registrarLaboratorio" parameterType="edu.eci.cvds.TimeLimit.model.Laboratorio">
        INSERT INTO "Laboratorio"(id,nombre,horario,descripcion)
	VALUES((select count(*)+1 from "Laboratorio"),#{nombre},#{horario},#{descripcion});
    </insert>
    <select id="getEquiposDeSoftware" resultMap="LaboratorioResult" parameterType="map">
        select eq.id,eq.nombre,eq.estado,eq.enuso,eq.idlaboratorio
        from "Laboratorio" as  l2 join equipos as eq  on 2=l2.id
        where eq.idlaboratorio =2;
    </select>

    <select id="getEquiposDeRedes" resultMap="LaboratorioResult" parameterType="map">
        select eq.id,eq.nombre,eq.estado,eq.enuso,eq.idlaboratorio
        from "Laboratorio" as  l2 join equipos as eq  on 1=l2.id
        where eq.idlaboratorio =1;
    </select>


    <select id="getEquiposDePlataformas" resultMap="LaboratorioResult" parameterType="map">
        select eq.id,eq.nombre,eq.estado,eq.enuso,eq.idlaboratorio
        from "Laboratorio" as  l2 join equipos as eq  on 3=l2.id
        where eq.idlaboratorio =3;
    </select>
</mapper>



