<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.TimeLimit.Persistence.mybatisimpl.mappers.NovedadMapper">
    <resultMap type="Novedad" id="NovedadResult">
    	<id property="id" column="id"/>
		<result property="fecha" column="fecha"/>
    	<result property="descripcion" column="descripcion"/>
    	<result property="estado" column="estado"/>
		<result property="tipo" column="tipo"/>
    	<result property="idelemento" column="idelemento"/>
       

    </resultMap>
    <select id="getNovedad" resultMap="NovedadResult" parameterType="String">
        SELECT 
		n.id,
        n.fecha,
        n.descripcion,
		n.estado,
		n.tipo,
        n.idelemento
        FROM "novedades" as n
    </select>

    <insert id="RegistrarNovedad" parameterType="map">
        INSERT INTO novedades
	VALUES( #{id},#{fecha},#{descripcion},#{estado},#{tipo},#{idelemento}) ;
    </insert>
    	

</mapper>