<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.TimeLimit.Persistence.mybatisimpl.mappers.NovedadMapper">
    <resultMap type="Novedad" id="NovedadResult">
    	<id property="id" column="id"/>
		<result property="fecha" column="fecha"/>
    	<result property="descripcion" column="descripcion"/>
    	<result property="estado" column="estado"/>
		<result property="tipo" column="tipo"/>
    	<result property="idElemento" column="idelemento"/>
       

    </resultMap>


    <insert id="registrarNovedad" parameterType="map">
    INSERT INTO "novedades"(id,fecha,descripcion,estado,tipo,idElemento)
	VALUES(#{id},#{fecha},#{descripcion},#{estado},#{tipo},#{idElemento}) ;
    </insert>
    	

</mapper>