body{
	margin : 0;
	padding : 0;
	background-image : 
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url(../img/fondo.jpg);
	background-position: 0, 10;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}


.elemento {
	width: 355px;
	height: 350px;
	color: #fff;
	top: 15%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-color: #fff;
	border-radius: 10px;
	
	
}


.elemento .form-control{
	margin-bottom:10px;
	box-shadow: none;
	background: transparent;
	border:none;
	color: #000;
	width: 100%;
	margin-bottom: 25px;
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	text-shadow: none;
	border-bottom: 2px solid #024D12;
}

.elemento .form-control:focus{
	border-bottom: 3px solid #0B41F8;
}

.elemento button{
	box-shadow: none;
	width: 100%;
	border: none;
	outline: none;
	height: 32px;
	background: #0B41F8;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 18px;
	width: 100%;
	text-shadow: none;
	font-family: Impact;
}

.elemento button:hover{
	background-color: #fff;
	color: #024D12;
	border: 1px solid #024D12;
}

.elemento .control-label{
	color: #0B41F8;
	font-family: Impact;
}

.box{
	position: absolute;
	top:15%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input.src{
	padding: 9px 10px 9px 32px;
	outline: none;
	font-size: 18px;
	border-radius: 15px;
	color: #444
	border: 3px solid #a50559;
	background: #fff url("../img/search-icon.png")
		no-repeat 9px center;
	width: 60px;
	transition: all .5s;
}
input.src:hover{
	width: 180px;
	background-color: #fff;
	border-color: #8c10b3;
	box-shadow: 0 0 5px #6dcff6

}
