body{
	margin : 0;
	padding : 0;
	background-image : 
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url(../img/fondo.jpg);
	background-position: 0, 10;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.laboratorio {
	width: 355px;
	height: 60px;
	color: #fff;
	top: 0%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -40%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-color: #fff;
	border-radius: 10px;
	
	
}


.laboratorio .form-control{
	margin-bottom:10px;
	box-shadow: none;
	background: transparent;
	border:none;
	color: #000;
	width: 100%;
	margin-bottom: 25px;
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	text-shadow: none;
	border-bottom: 2px solid #024D12;
}

.laboratorio .form-control:focus{
	border-bottom: 3px solid #0B41F8;
}

.laboratorio button{
	width: 100%;
	height: 32px;
	background: #fff;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 18px;
	font-family: Impact;
}

.laboratorio input{
	width: 100%;
	height: 32px;
	background: #fff;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 18px;
	font-family: Impact;
}
.laboratorio input:hover{
	background-color: #fff;
	color: #fff;
	border: 1px solid #fff;
}
.laboratorio button:hover{
	background-color: #fff;
	color: #024D12;
	border: 1px solid #024D12;
}

.laboratorio .control-label{
	color: #0B41F8;
	font-family: Impact;
}


.login-box {
	width: 22%;
	height: 350px;
	color: #fff;
	float:left;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-color: #fff;
	border-radius: 10px;
}

.login-box .avatar {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	position: absolute;
	top: -58px;
	left: calc(50% - 58px);
} 

.login-box .form-control{
	margin-bottom:10px;
	border:none;
	color: #fff;
	width: 100%;
	margin-bottom: 25px;
	height: 40px;
	font-size: 16px;
	border-bottom: 2px solid #fff;
}

.login-box .form-control:focus{
	border-bottom: 3px solid #fff;
}

.login-box button{
	width: 100%;
	height: 32px;
	background: #fff;
	color: #0B41F8;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 18px;
	font-family: Impact;
}

.login-box button:hover{
	background-color: #fff;
	color: #fff;
	border: 1px solid #fff;
}

.login-box input{
	width: 100%;
	height: 32px;
	background: #fff;
	color: #024D12;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 18px;
	font-family: Impact;
}

.login-box input:hover{
	background-color: #fff;
	color: #0a0a0a;
	border: 1px solid #fff;
}

.login-box .control-label{
	color: #fff;
	font-family: Impact;
}


.contenedor {
	width: 80%;
	height: 50%;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-40%, -30%);
}

.espaciador {
	width: 3%;
	height: 350px;
	float:left;
}